# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc

# Octave session info
octave-workspace
Hourly_fall.mat
Hourly_spring.mat
Hourly_summer.mat
Hourly_winter.mat
April.mat
December.mat
January.mat
February.mat
July.mat
June.mat
March.mat
May.mat
November.mat
September.mat
*.mat
Example/~$averaged_data.xlsx
monthHFG.pdf
seasonHGF.pdf
supersizeme.m
*.eps
*.pdf
