# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc

# Octave session info
octave-workspace
*.fig
*.mat
Example/~$averaged_data.xls
supersizeme.m
*.eps
*.pdf
pJulyDaily.csv
pJulyDaily.txt
pJunDaily.txt

Example/~$averaged_data.xlsx
